/* 
    Created on : 15/08/2016, 17:43:03
    Author     : Marcio Nido <marcionido@gmail.com>
*/
/* navbar */
.navbar-default {
    background-color: #002266;
    border-color: #001133;
}
/* title */
.navbar-default .navbar-brand {
    color: #E7E7E7;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFFFFF;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #002266;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFFF;
    background-color: #002266;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #E7E7E7;
    border-bottom-color: #E7E7E7;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #001133;
    border-bottom-color: #001133;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #E7E7E7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #002266;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #E7E7E7;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #E7E7E7;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #FFFFFF;
    }
}
